<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="fa fa-user-o"></span><img style="height: 70px; width: 120px; " src="assets/images/resources/logo_mrh-4.png" alt=""></h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="" class="active"><span class="fa fa-home"></span><span>Accueil</span></a>
             
            </li>
            <li>
                <a href="listeSouscription"><span class="fa fa-tasks"></span><span>Souscription</span></a>
                
            </li>
            <li>
                <a href="listeUtilisateur"><span class="fa fa-user"></span><span>Client</span></a>
            </li>
            <li>
                <a href=""><span class="fa fa-line-chart"></span><span>Document</span></a>
            </li>
            <li>
                <a href="/listePolice"><span class="fa fa-address-book"></span><span>Police</span></a>
            </li>
            <li>
                <a href="#"><span class="fa fa-clipboard"></span><span>Siniste</span></a>
            </li>
            <li>
                <a href="/listePaiement"><span class="fa fa-line-chart"></span><span>Payement</span></a>

            </li>
            <li>
                <a href="/listeRole"><span class="fa fa-money"></span><span>Role</span></a>
            </li>
            <li>
                <a href=""><span class="fa fa-user"></span><span>Personnels</span></a>
            </li>

            <li>
                <a href=""><span class="fa fa-registered"></span><span>Notification</span></a>
            </li>
        </ul>
    </div>
</div>