<input type="checkbox" id="menu" name="">
	
<app-sidebardashbord></app-sidebardashbord>
	<div class="content">
		
		
			<app-navbardashbord></app-navbardashbord>
		
		

		<main>
			<div class="cards">
				<div class="card-single">
					<div>
						<h2>2.000.000</h2>
						<small>Clients</small>
					</div>
					<div>
						<span class="fa fa-shopping-cart"></span>
					</div>
				</div>

				<div class="card-single">
					<div>
						<h2>+30</h2>
						<small>Personnel</small>
					</div>
					<div>
						<span class="fa fa-newspaper-o"></span>
					</div>
				</div>
				<div class="card-single">
					<div>
						<h2>58</h2>
						<small>Fournisseur</small>
					</div>
					<div>
						<span class="fa fa-outdent"></span>
					</div>
				</div>
				<div class="card-single">
					<div>
						<h2>20k</h2>
						<small>Communauté</small>
					</div>
					<div>
						<span class="fa fa-group"></span>
					</div>
				</div>
			</div>

			

			
		</main>
	</div>