<div class="b cart ">



<section class="bg-credentials ">
	<div class="credentials-content">
	
	</div>
</section>

<section class="bg-form">
	<div class="bg-formContent"> 
		<h1>Login</h1>
		

	<form>
				
		
		
		<label for="" style="color: blue;">Email:</label><br>
		<input type="email" 
					 required> 
		<br><br>
		
		<label for="" style="color: blue;">Password:</label><br>
		<input type="password" 
					 minlength="6"
					 maxlength="24"
					 required> <br><br>
		
		
		
		<div class="center-content">
            <button id="js-submitItem" ><a href="/dashboard" style="color: white;"> Connexion</a>	</button>

		</div>
		
	</form>
	</div>
</section>
</div>