<header>
    <p><label for="menu"><span class="fa fa-bars"></span></label><span class="accueil">Accueil</span></p>

    <div class="search-wrapper">
        <span class="fa fa-search"></span>
        <input type="search" name="" placeholder="recherche" />
    </div>

    <div class="user-wrapper" id="dropdown">
        <div>
            <h4>SORO</h4>
            <small>WONGNIGA SEYDOU</small>
        </div>
        
        <!-- <img src="images/pp.jpg" width="30" height="30" class="logo-admin"> -->
        <div class="dropdown-content">
        <p>Mon profil</p>
        <p>Deconnexion</p>
        </div>
        
    </div>
</header>