header{
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	box-shadow: 2px 5px 15px 2px rgb(0 0 0 / 10%);
	position: fixed;
	left: 22%;
	width: calc(100% - 22%);
	top: 0;
	z-index: 100;
	transition: left 300ms;
}



.accueil{
	font-size: 1.5rem;
	padding-right:  1rem;
	margin-left: 15px;
	color: #008ea1;
}
.search-wrapper{
	border: 1px solid #008ea1;
	border-radius: 20px;
	height: 38px;
	display: flex;
	align-items: center;
	overflow-x: hidden;
}
.search-wrapper input{
	height: 100%;
	padding: .5rem;
	border: none;
	outline: none;
}
.search-wrapper span{
	display: inline-block;
	padding: 0rem 1rem;
	font-size: 1.5rem;
	color: #008ea1;
}
.user-wrapper{
	display: flex;
	align-items: center;
}
.user-wrapper img{
	border-radius: 50%;
	margin-right: 5rem;
}
.user-wrapper small{
	color: #ccc;
	display: inline-block;
}
.logo-admin{
	cursor: pointer;
}
#dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  height: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
  z-index: 1;
}

#dropdown:hover .dropdown-content {
  display: block;
  cursor: pointer;
}
.dropdown-content p{
	padding: .5rem;
}


@media only screen and (max-width: 768px){

	.search-wrapper{
		display: none;
	}
	
	header p{
		display: flex;
		align-items: center;
	}
	header p label{
		display: flex;
		padding-right: 0rem;
		margin-right: 1rem;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		color: #fff;
		align-items: center;
		justify-content: center !important;
		background: #008ea1;
	}
	header p span{
		text-align: center;
		padding-right: 0rem;
	}
	.content{
		width: 100%;
		margin-left: 0rem !important;

	}
	header{
		width: 100% !important;
		left: 0 !important;
	}
	

}

@media only screen and (max-width: 1200px){
	 .sidebar{
		width: 60px;
	}
	.sidebar .sidebar-brand, h2 span:last-child,
	.sidebar li a span:last-child {
		display: none;
	}
	
}