

<app-navbar></app-navbar>


<!--Page Header Start-->
<section class="page-header">
    <div class="page-header-bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg)">
    </div>
    <div class="page-header-shape-1"><img src="assets/images/shapes/page-header-shape-1.png" alt=""></div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="index.html">Maison</a></li>
                <li><span>/</span></li>
                <li>Assurance</li>
            </ul>
            <h2>ASSURANCE HABITATION</h2>
        </div>
    </div>
  </section>
  <!--Page Header End-->
  
  <!--Insurance Details Start-->
  <section class="insurance-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="insurance-details__left">
                    <div class="insurance-details__services-box">
                      <h1>Produit</h1>
                        <ul class="insurance-details__services-list list-unstyled">
                            <li><a href="car-insurance.html">Incendie et Risque Assimilés<span
                                        class="icon-right-arrow1"></span></a></li>
                            <li><a href="life-insurance.html">Dommages Electriques<span
                                        class="icon-right-arrow1"></span></a></li>
                            <li><a href="home-insurance.html">Responsabilité Civile Chef de Famille/Proprietaire d'immeuble</a>
                            </li>
                            <li><a href="health-insurance.html">Tempetre-Ouragans-Cyclone-Degats des Eaux<span
                                        class="icon-right-arrow1"></span></a></li>
                            <li><a href="business-insurance.html">Vol<span
                                        class="icon-right-arrow1"></span></a></li>
                            <li><a href="fire-insurance.html">Bris de Glace<span
                                        class="icon-right-arrow1"></span></a></li>
                            <li><a href="marriage-insurance.html">Tout risque informatiques<span
                                        class="icon-right-arrow1"></span></a></li>
                            <li><a href="travel-insurance.html">Accidents aux appareils électriques<span
                                        class="icon-right-arrow1"></span></a></li>
                        </ul>
                    </div>
                    <div class="insurance-details__download">
                        <h3 class="insurance-details__download-title">Télécharger les ressources</h3>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="insurance-details__download-single">
                                    <div class="insurance-details__download-icon">
                                        <span class="insur-three-icon-pdf-file"></span>
                                    </div>
                                    <h3 class="insurance-details__download-title-2"><a href="#">Politique</a></h3>
                                    <div class="insurance-details__download-btn-box">
                                        <a href="#" class="insurance-details__download-btn thm-btn">Download</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="insurance-details__download-single">
                                    <div class="insurance-details__download-icon">
                                        <span class="insur-three-icon-pdf-file"></span>
                                    </div>
                                    <h3 class="insurance-details__download-title-2"><a href="#">document à fournir</a></h3>
                                    <div class="insurance-details__download-btn-box">
                                        <a href="#" class="insurance-details__download-btn thm-btn">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="insurance-details__need-help">
                        <div class="insurance-details__need-help-bg"
                            style="background-image: url(assets/images/update-10-02-2023/resources/insurance-details-need-help-bg.jpg)">
                        </div>
                        <div class="insurance-details__need-help-icon">
                            <span class="insur-three-icon-call"></span>
                        </div>
                        <h2 class="insurance-details__need-help-title">
                          Parlez à notre
                          agent d'assurance</h2>
                        <div class="insurance-details__need-help-contact">
                            <a href="tel:+9200368090">+225 07-58-25-18-76</a>
                            <p>Appellez nos experts</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="insurance-details__right">
                    <div class="insurance-details__img-1">
                        <img src="assets/images/update-10-02-2023/resources/insurance-details-img-2.jpg" alt="">
                    </div>
                    <div class="insurance-details__age-box">
                        <div class="insurance-details__age-title-box">
                            <h3 class="insurance-details__age-title">Assurance Multirisques Habitation</h3>
                            <h4 style="color: blue;"> Qu'est-ce que l'Assurance Multirisques Habitation ?</h4>
                        </div>
                        
                    </div>
                    <p class="insurance-details__text-1">L'assurance Multirisques Habitation est un contrat qui a pour but de couvrir plusieurs risques pouvant affecter l'assuré dans le cadre de l'occupation d'un bien immobilier (Villa, Appartement...).</p>
                    <div class="insurance-details__age-box">
                      <div class="insurance-details__age-title-box">
                   
                          <h4 style="color: blue;"> A qui s'adresse l'Assurance Multirisques Habitation  ?</h4>
                      </div>
                      
                     </div>
                     <p class="insurance-details__text-1">Toute personne physique ou morale titulaire d'un compte dans nos livres et disposant d'un ou plusieurs biens immobiliers et mobiliers à usage d'habitation désignés aux conditions particulières.</p>
                     <div class="insurance-details__age-box">
                      <div class="insurance-details__age-title-box">
                   
                          <h4 style="color: blue;">Pourquoi souscrire à l'Assurance Multirisques Habitation ?</h4>
                      </div>
                      
                     </div>
                     <p class="insurance-details__text-1">L'Assurance Multirisques Habitation permet à l'assuré de se prémunir des sinistres suivants :<br>
  
                      - Incendie (obligatoire) ;<br>
                      - Dégâts des eaux ;<br>
                      - Vol ;<br>
                      - Bris de glace ;<br>
                      - Responsabilité civile ;<br>
                      - Tous Risques Informatiques ;<br>
                      - Accidents aux appareils électriques.<br>
                      
                      L'Assurance Multirisques Habitation garantit aussi la Responsabilité Civile de l'occupant en cas de dommages corporels et matériels causés aux tiers.</p>
  
  
                      <div class="insurance-details__age-box">
                        <div class="insurance-details__age-title-box">
                     
                            <h4 style="color: blue;">Quels sont les conditions de souscription ?</h4>
                        </div>
                        
                       </div>
  
                     <p class="insurance-details__text-1">- Remplir un formulaire de souscription ;<br>
                      - Procéder au règlement de la prime d'assurance.</p>
  
  
                      <div class="insurance-details__age-box">
                        <div class="insurance-details__age-title-box">
                     
                            <h4 style="color: blue;">Quel est le montant de la prime ?
                            </h4>
                        </div>
                        
                       </div>
  
  
                       <p class="insurance-details__text-1">Le montant de la prime est déterminé en fonction de :<br>
                        - Les caractéristiques de la superficie développée du type (villa basse, duplex, etc.)<br>
                        - La valeur du ou des biens ;<br>
                        - La valeur du contenu (biens mobiliers, objet et effets personnels) ;<br>
                        - La valeur du matériel informatique ;<br>
                        - La périodicité définie ;<br>
                        - Etc.</p>
  
                        <div class="insurance-details__age-box">
                          <div class="insurance-details__age-title-box">
                       
                              <h4 style="color: blue;">Quels sont les avantages pour le client ?
                              </h4>
                          </div>
                          
                         </div>
  
                         <p class="insurance-details__text-1">- Un large éventail de garantie ;<br>
                          - Une formule modulable au choix : l'Assurance Multirisque Habitation est personnalisable à l'infini ;<br>
                          - Des réductions tarifaires exceptionnelles accordées ;<br>
                          - La prise en charge rapide des sinistres déclarés ;<br>
                          - La prise de décision de règlement des sinistres par la compagnie dans un délai maximum de 48 heures lorsque le dossier est bon à payer.<br>
                          
                          </p>
  
  
                    <p class="insurance-details__text-2">Avec la Multirisque Habitation, mon patrimoine familial est à l'abri !</p>
              
                    
                    <ul class="insurance-details__points list-unstyled">
                        <li>
                            <div class="insurance-details__points-left">
                                <div class="insurance-details__points-icon">
                                    <span class="icon-easy-to-use"></span>
                                </div>
                                <h3 class="insurance-details__points-title">Processus rapide et facile</h3>
                            </div>
                            <div class="insurance-details__points-right">
                                <p>En un click vous serez assuré.</p>
                            </div>
                        </li>
                        <li>
                            <div class="insurance-details__points-left">
                                <div class="insurance-details__points-icon">
                                    <span class="icon-contract"></span>
                                </div>
                                <h3 class="insurance-details__points-title">Réclamation Rapide</h3>
                            </div>
                            <div class="insurance-details__points-right">
                                <p>En cas d'incident vous pouvez faire une reclamation .</p>
                            </div>
                        </li>
                        <li>
                            <div class="insurance-details__points-left">
                                <div class="insurance-details__points-icon">
                                    <span class="icon-fund"></span>
                                </div>
                                <h3 class="insurance-details__points-title">Économisez votre
                                  argent</h3>
                            </div>
                            <div class="insurance-details__points-right">
                                <p>Economisez votre argent pour résoudre vos problèmes de demain.</p>
                            </div>
                        </li>
                    </ul>
                    <h3 class="insurance-details__title-1">Parlez à nos experts en assurance</h3>
                    <p class="insurance-details__text-4">Discutez avec des experts en assurance et posez des questions avant de finaliser vos plans ou si vous souhaitez obtenir de l'aide concernant nos services. Notre personnel dévoué se fera un plaisir de vous appeler et de vous guider.</p>
                    <form class="insurance-details__email-box">
                        <div class="insurance-details__email-input-box">
                            <input type="text" placeholder="Votre numero" name="phone">
                        </div>
                        <button type="submit" class="insurance-details__subscribe-btn thm-btn">Appel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--Insurance Details End-->
  <!-- 
  <h1> Essai</h1>
  
  <table>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
      </tr>
      <tr *ngFor="let use of user">
        <td >{{use.id}}</td>
        <td>{{use.nom}}</td>
      </tr>
    
    </table> -->
  
  
  
  
    <app-footer></app-footer>













