<input type="checkbox" id="menu" name="">
	
<app-sidebardashbord></app-sidebardashbord>
	<div class="content">
		
		
			<app-navbardashbord></app-navbardashbord>
		
      
		

		<main>
     
      <div>
       
        
      </div>
 
			
      <div class="row">
        <div class="col-12">
          <div class="form">
            <h2>Details Souscripteur</h2>
                <div class="form-group mb-4">
                <label for=""> <b style="color: blue;">Nom :</b> <br>{{user.nom}} </label>
            </div>
                <div class="form-group mb-4">
                <label for=""><b style="color: blue;">Prénoms : </b> <br>{{user.prenoms}} </label>
              </div>
              
              <div class="form-group mb-4">
                <label><b style="color: blue;">Date de naissance :</b> <br>{{user.dteNaissance}}</label>
            </div>
                <div class="form-group mb-4">

                <label><b style="color: blue;">Lieu de naissance: </b><br>{{user.lieuNaissance}}</label>
              </div>
              
              <div class="form-group mb-4">
              
                
                <label> <b style="color: blue;">Profession:</b> <br>{{user.profession}}</label>
            </div>      
                
                <div class="form-group mb-4">

                  <label><b style="color: blue;">Situation Matrimoniale:</b>  <br>{{user.situationMatrimoniale}}</label>
                  


                 
                
                
              </div>
              
              <div class="form-group mb-4">
                <label for=""><b style="color: blue;">Email:</b> <br>{{user.email}}</label>

            </div>  
            <div class="form-group mb-4">

                <label for=""><b style="color: blue;">Numero de telephone: </b><br>{{user.tel}}</label>
                
                
              </div>
              
              
              
          </div>
        </div>
        
      </div>


			
							
						
			


               
				
					
					
		


  
		</main>
	</div>