<div class="custom-cursor__cursor"></div>
<div class="custom-cursor__cursor-two"></div>





<div class="preloader ">
    <div class="preloader__image"></div>
</div>
<!-- /.preloader -->

<div class="page-wrapper ">

    <header class="main-header clearfix">
        <div class="main-header__top">
            <div class="container">
                <div class="main-header__top-inner">
                    <div class="main-header__top-address">
                        <ul class="list-unstyled main-header__top-address-list">
                            <li>
                                <i class="icon">
                                    <span class="icon-pin"></span>
                                </i>
                                <div class="text">
                                    <p>Plateau rue 32 BP58</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon">
                                    <span class="icon-email"></span>
                                </i>
                                <div class="text">
                                    <p><a href="mailto:wongnigaseydous@gmail.com">wongnigaseydous@gmail.com</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="main-header__top-right">
                       
                        <div class="main-header__top-social-box">
                            <div class="main-header__top-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-menu clearfix">
            <div class="main-menu__wrapper clearfix">
                <div class="container">
                    <div class="main-menu__wrapper-inner clearfix">
                        <div class="main-menu__left">
                            <div class="main-menu__logo ">
                                <a href="index.html"><img style="height: 70px; width: 120px; " src="assets/images/resources/logo.jpeg" alt=""></a>
                            </div>
                            <div class="main-menu__main-menu-box ">
                                <div class="main-menu__main-menu-box-inner ">
                                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                    <ul class="main-menu__list">
                                        <li
                                            >
                                            <a href="#">Acceuil</a>
                                            
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">MRH SERVICE</a>
                                            
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Produits & Services </a>
                                            
                                        </li>
                                        <li class="dropdown">
                                            <a href="products.html">Actualité</a>
                                            
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Publications</a>
                                           
                                        </li>
                                        <li>
                                            <a href="contact.html">Contactez-nous </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-menu__main-menu-box-search-get-quote-btn">
                                    <div class="main-menu__main-menu-box-search">
                                        <a href="#"
                                            class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                        
                                    </div>
                                    <div class="main-menu__main-menu-box-get-quote-btn-box">
                                        <a href="/login" 
                                            class="thm-btn main-menu__main-menu-box-get-quote-btn">CONNEXION</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-menu__right">
                            <div class="main-menu__call">
                                <div class="main-menu__call-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="main-menu__call-content">
                                    <a href="tel:9200368090">+225 0758251876</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

</div>






 
 
 
 