<div class="custom-cursor__cursor"></div>
<div class="custom-cursor__cursor-two"></div>





<div class="preloader ">
    <div class="preloader__image"></div>
</div>
<!-- /.preloader -->

<div class="page-wrapper ">

    <header class="main-header clearfix">
        <div class="main-header__top">
            <div class="container">
                <div class="main-header__top-inner">
                    <div class="main-header__top-address">
                        <ul class="list-unstyled main-header__top-address-list">
                            <li>
                                <i class="icon">
                                    <span class="icon-pin"></span>
                                </i>
                                <div class="text">
                                    <p>Plateau rue 32 BP58</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon">
                                    <span class="icon-email"></span>
                                </i>
                                <div class="text">
                                    <p><a href="mailto:wongnigaseydous@gmail.com">wongnigaseydous@gmail.com</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="main-header__top-right">
                       
                        <div class="main-header__top-social-box">
                            <div class="main-header__top-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="main-menu clearfix">
            <div class="main-menu__wrapper clearfix">
                <div class="container">
                    <div class="main-menu__wrapper-inner clearfix">
                        <div class="main-menu__left">
                            <div class="main-menu__logo ">
                                <a href="index.html"><img style="height: 70px; width: 120px; " src="assets/images/resources/logo.jpeg" alt=""></a>
                            </div>
                            <div class="main-menu__main-menu-box ">
                                <div class="main-menu__main-menu-box-inner ">
                                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                                    <ul class="main-menu__list">
                                        <li
                                            >
                                            <a href="#">Acceuil</a>
                                            
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">MRH SERVICE</a>
                                            <ul>
                                                <li><a href="about.html">A Propos</a></li>
                                                <li class="is-new-menu"><a href="sign-in.html">Sign in</a></li>
                                                <li class="is-new-menu"><a href="make-a-claim-death.html">Make a
                                                        claim</a>
                                                </li>
                                                <li class="is-new-menu"><a href="policy-proposal.html">Policy
                                                        proposal</a></li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="portfolio-carousel.html">Portfolio carousel</a></li>
                                                <li><a href="portfolio-details.html">Portfolio details</a></li>
                                                <li><a href="team-page.html">Team</a></li>
                                                <li><a href="team-carousel.html">Team carousel</a></li>
                                                <li><a href="team-details.html">Team details</a></li>
                                                <li><a href="testimonial.html">Testimonials</a></li>
                                                <li><a href="testimonial-carousel.html">Teatimonials carousel</a>
                                                </li>
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="faq.html">FAQs</a></li>
                                                <li><a href="404.html">404 error</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Produits & Services </a>
                                            <ul>
                                                <li><a href="insurance-01.html">Insurance 01</a></li>
                                                <li><a href="insurance-02.html">Insurance 02</a></li>
                                                <li><a href="insurance-03.html">Insurance 03</a></li>
                                                <li><a href="car-insurance.html">Car insurance</a></li>
                                                <li><a href="life-insurance.html">Life insurance</a></li>
                                                <li><a href="home-insurance.html">Home insurance</a>
                                                </li>
                                                <li><a href="health-insurance.html">Health insurance</a></li>
                                                <li><a href="business-insurance.html">Business insurance</a></li>
                                                <li><a href="fire-insurance.html">Fire insurance</a></li>
                                                <li><a href="marriage-insurance.html">Marriage insurance</a></li>
                                                <li><a href="travel-insurance.html">Travel insurance</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="products.html">Actualité</a>
                                            <ul>
                                                <li><a href="products.html">Shop</a></li>
                                                <li><a href="product-details.html">Shop details</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">Publications</a>
                                            <ul>
                                                <li><a href="news.html">News</a></li>
                                                <li><a href="news-carousel.html">News carousel</a></li>
                                                <li><a href="news-sidebar.html">News right sidebar</a></li>
                                                <li class="is-new-menu"><a href="news-sidebar-left.html">News left
                                                        sidebar</a></li>
                                                <li><a href="news-details.html">News details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contactez-nous </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="main-menu__main-menu-box-search-get-quote-btn">
                                    <div class="main-menu__main-menu-box-search">
                                        <a href="#"
                                            class="main-menu__search search-toggler icon-magnifying-glass"></a>
                                        
                                    </div>
                                    <div class="main-menu__main-menu-box-get-quote-btn-box">
                                        <a href="/login" 
                                            class="thm-btn main-menu__main-menu-box-get-quote-btn">CONNEXION</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-menu__right">
                            <div class="main-menu__call">
                                <div class="main-menu__call-icon">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <div class="main-menu__call-content">
                                    <a href="tel:9200368090">+225 0758251876</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

</div>






 
 
 
 